[Desktop Entry]
Name=Anime Client
GenericName=Watch & Download Anime via Terminal
Exec=xdotool exec xfce4-terminal -e "ani-cli -v" 
Icon=funkin
Terminal=false
Type=Application
Categories=Multimedia;Fun;Music;Social Media
